doctype html
html(lang='en')
  - this.console.log('a trace form index.pug [')
  - console.log(this["HTML_WEBPACK_PLUGIN"])
  - this.console.log('a trace form index.pug ]')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= 'index.pug'
  body
    h3 PHYTOJS_API_SERVICE_URL
    .debug#api!= process.env.PHYTOJS_API_SERVICE_URL
    h3 process.env
    .debug!= JSON.stringify(process.env)
    h3 locals.foo()
    .debug!= locals.foo()
    h3 locals
    .debug!= JSON.stringify(locals)
    h3 css-variable
    .debug#css-variable!= 'valorizzata client side da index.js usando il valore di area-border-as-cm esportato da _variables.scss'
    h3 css-ratio
    .debug#css-ratio!= 'valorizzata client side da index.js usando il valore di ratio da _variables.scss ricevuto a sua volta dal sass-loader'
